<tr>
  <td> <%= short_answer_keyword.keyword %></td>
  <td><%= link_to 'Edit', edit_short_answer_question_short_answer_keyword_path(short_answer_keyword.short_answer_question, short_answer_keyword) %></td>
  <td> <%= link_to 'Remove', [short_answer_keyword.short_answer_question, short_answer_keyword], :confirm => 'Are you sure?', :method => :delete %> </td>
  
  
  
</tr>

